/* App.css */

/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #e0f7fa); /* White to Blue Gradient */
  color: #333;
}

.app {
  text-align: center;
  min-height: 100vh;
}

/* Navigation Bar */
.navbar {
  background-color: #0277bd; /* Blue */
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.navbar li:hover,
.navbar li.active {
  background-color: #01579b; /* Darker Blue */
  border-radius: 5px;
}

/* Section Content */
.section {
  padding: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
button {
  background-color: #0277bd; /* Blue */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #01579b;
  transform: scale(1.05);
}

button:active {
  background-color: #003f73;
}

/* Image Grid for Photo Preview */
img {
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Success message */
p {
  font-size: 16px;
  margin-top: 10px;
}

/* Group list styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  margin: 10px 0;
  transition: color 0.3s, text-decoration 0.3s;
}

li:hover {
  color: #01579b;
  text-decoration: underline;
}

video {
  border: 2px solid #0277bd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #0277bd;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #01579b;
  transform: scale(1.05);
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}
